
<div class="container">
  <div>
    <img src="../assets/movie_home.webp" width="100%" height="150px">
  </div>
  <div>
    <nav class="navbar navbar-expand-sm bg-secondary navbar">
      <div class="container-fluid">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="movielist">Movie List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="addmovie">Add Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="editmovie">Edit Movie</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="aboutus">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contactus">Contact Us</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>
  <div class="content-holder">
    <router-outlet></router-outlet>
  </div>

</div>